*.resources
*.Cache
*.pdb
*.sys
*.exe
*.map
*.pch
*.idb
*.ncb
*.suo
*.res
*.ilk
*.dll
*.aps
**/*.se2
*/_UpgradeReport_Files/*
*.user
*.obj
*.FileListAbsolute.txt
!src/BuildFiles/*
src/tmp/*
!src/bin/hamcore/*
src/bin/hamcore/PenCore.dll
src/bin/*.config
src/bin/*_log/*
src/bin/hamcore/PenCore_x64.dll
src/bin/hamcore/see.dll
src/bin/hamcore/see_x64.dll
src/bin/hamcore/vpnsetup_nosign.exe
src/bin/hamcore/vpnsetup_nosign_x64.exe
UpgradeLog.XML
UpgradeLog2.XML
BuildLog.htm
BuildUtilTmp.exe.config
